include layouts/layout
.container
    h2.mt-4 #{title}

    if customer.length === 0
        h2 Sorry no current Customers
    else
        h2 Customers
        table.table.table-striped
            thead
                tr
                    th(scope='col') Name
                    th(scope='col') Email
                    th(scope='col') Total Sales
                    th(scope='col')
                tbody
                     each c in customer
                         tr
                             td= c.CustomerName
                             td= c.CustomerEmail
                             td= '$' + (parseFloat(c.TotalSales).toLocaleString(undefined, {minimumFractionDigits: 2}))
                             td
                                 form(method='get' action='updateCustomer/' + c.id)
                                     button.btn.btn-primary(type='submit') Update
        form(method='get' action='addCustomer/')
            button.btn.btn-primary(type='submit') Add New Customer